In [2]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now.year, now.month, now.day

(2018, 5, 30)

In [6]:
delta = datetime(2011,1,7) - datetime(2008, 6, 24, 8,15)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

start = datetime(2011,1,7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## 字符串和datetime的相互转换

In [12]:
stamp = datetime(2011, 1, 3)

In [13]:
str(stamp)

'2011-01-03 00:00:00'

In [14]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [15]:
value = '2011-01-03'

In [16]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
datestrs = ['7/6/2011', '8/6/2011'] #https://www.lfd.uci.edu/~gohlke/pythonlibs/

In [18]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
from dateutil.parser import parse

In [20]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [21]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [22]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [23]:
datestrs

['7/6/2011', '8/6/2011']

In [24]:
import pandas as pd

In [25]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])

In [27]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
pd.isnull(idx)

array([False, False,  True])

In [29]:
from datetime import datetime

In [30]:
dates = [datetime(2011,1,2), datetime(2011,1,5), datetime(2011,1,7), datetime(2011,1,8), datetime(2011,1,10), datetime(2011,1,12)]

In [32]:
from pandas import Series, DataFrame

In [34]:
import numpy as np

In [35]:
ts = Series(np.random.randn(6), index = dates)

In [36]:
ts

2011-01-02    0.251473
2011-01-05   -0.668285
2011-01-07   -0.006350
2011-01-08   -0.300625
2011-01-10    0.480638
2011-01-12    1.423608
dtype: float64

In [37]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [45]:
ts + ts[::2]

2011-01-02    0.502945
2011-01-05         NaN
2011-01-07   -0.012700
2011-01-08         NaN
2011-01-10    0.961275
2011-01-12         NaN
dtype: float64

In [46]:
ts.index.dtype

dtype('<M8[ns]')

In [47]:
stamp = ts.index[0]

In [48]:
stamp

Timestamp('2011-01-02 00:00:00')

In [49]:
stamp = ts.index[2]

In [50]:
ts[stamp]

-0.006349754959357978

In [51]:
ts['1/10/2011']

0.48063751912071634

In [52]:
ts['20110110']

0.48063751912071634

In [53]:
long_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
long_ts

2000-01-01    1.582089
2000-01-02   -0.579390
2000-01-03    0.705054
2000-01-04    1.295719
2000-01-05    0.574026
2000-01-06    0.457432
2000-01-07    0.574878
2000-01-08    0.269140
2000-01-09   -1.423826
2000-01-10   -0.098664
2000-01-11    0.079145
2000-01-12    1.837385
2000-01-13   -1.312139
2000-01-14   -2.040590
2000-01-15    1.130066
2000-01-16   -0.573383
2000-01-17   -0.712730
2000-01-18   -0.629136
2000-01-19    0.180765
2000-01-20    1.422396
2000-01-21   -1.040390
2000-01-22    0.507773
2000-01-23   -0.461562
2000-01-24    1.713298
2000-01-25   -2.276618
2000-01-26    0.654852
2000-01-27    0.052432
2000-01-28   -2.176986
2000-01-29   -0.407549
2000-01-30   -0.374328
                ...
2002-08-28   -0.896048
2002-08-29   -0.155055
2002-08-30    0.186625
2002-08-31   -0.169220
2002-09-01   -1.178516
2002-09-02   -1.486688
2002-09-03    0.752975
2002-09-04   -0.423944
2002-09-05   -1.819281
2002-09-06    0.216809
2002-09-07    0.459276
2002-09-08   -1.886571
2002-09-09    0.092261
2002-09-10   -0.509056
2002-09-11   -0.175436
2002-09-12    0.173282
2002-09-13   -0.088292
2002-09-14    0.616787
2002-09-15    0.356895
2002-09-16   -0.101655
2002-09-17    1.121615
2002-09-18    0.413459
2002-09-19    0.429417
2002-09-20   -0.599289
2002-09-21   -1.057592
2002-09-22   -1.831851
2002-09-23    0.593101
2002-09-24    0.326455
2002-09-25    1.109579
2002-09-26   -0.164636
Freq: D, Length: 1000, dtype: float64

In [56]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.006350
2011-01-08   -0.300625
2011-01-10    0.480638
dtype: float64

In [57]:
ts.truncate(after = '1/9/2011')

2011-01-02    0.251473
2011-01-05   -0.668285
2011-01-07   -0.006350
2011-01-08   -0.300625
dtype: float64

In [60]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [61]:
long_df = DataFrame(np.random.randn(100,4), index=dates, columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.455569 -0.192465  0.841607 -0.680430
2001-05-09  0.258276 -0.085472 -0.815967  0.289728
2001-05-16  0.693581 -1.093374  1.804920  0.077484
2001-05-23  0.586418  0.057558  0.728653  0.603989
2001-05-30 -1.919790  1.455552 -0.588712 -1.191073

## 带有重复索引的时间序列

In [62]:
dates = pd.DatetimeIndex(['1/1/2000','1/1/2000','1/2/2000','1/2/2000','1/3/2000' ])

In [63]:
dup_ts = Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-01    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [64]:
dup_ts.index.is_unique

False

In [65]:
dup_ts['1/3/2000']

4

In [66]:
dup_ts['1/2/2000']

2000-01-02    2
2000-01-02    3
dtype: int32

In [67]:
grouped = dup_ts.groupby(level=0)

In [68]:
grouped.mean()

2000-01-01    0.5
2000-01-02    2.5
2000-01-03    4.0
dtype: float64

In [69]:
grouped.count()

2000-01-01    2
2000-01-02    2
2000-01-03    1
dtype: int64

## 日期的范围、频率以及移动

In [70]:
ts

2011-01-02    0.251473
2011-01-05   -0.668285
2011-01-07   -0.006350
2011-01-08   -0.300625
2011-01-10    0.480638
2011-01-12    1.423608
dtype: float64

In [77]:
ts_resample = ts.resample('D')

In [82]:
dup_ts.resample('D').mean()

2000-01-01    0.5
2000-01-02    2.5
2000-01-03    4.0
Freq: D, dtype: float64

## 生成日期范围

In [83]:
index = pd.date_range('4/1/2012', '6/1/2012')

In [84]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [85]:
pd.date_range(start = '4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [86]:
pd.date_range(end = '4/1/2012', periods=20)

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

In [87]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [88]:
pd.date_range('5/12/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-12 12:56:31', '2012-05-13 12:56:31',
               '2012-05-14 12:56:31', '2012-05-15 12:56:31',
               '2012-05-16 12:56:31'],
              dtype='datetime64[ns]', freq='D')

## 频率和日期偏移量

In [89]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()

In [90]:
hour

In [91]:
four_hours = Hour(4)

In [92]:
four_hours

In [93]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [94]:
Hour(2) + Minute(30)

In [95]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [96]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq = 'WOM-3FRI')

In [97]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [98]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

## 移动（超前和滞后）数据

In [100]:
ts = Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [101]:
ts

2000-01-31   -0.942651
2000-02-29   -0.782854
2000-03-31   -1.982031
2000-04-30    1.309733
Freq: M, dtype: float64

In [102]:
ts.shift(2) #后移

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.942651
2000-04-30   -0.782854
Freq: M, dtype: float64

In [103]:
ts.shift(-2) #前移

2000-01-31   -1.982031
2000-02-29    1.309733
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [104]:
ts/ts.shift(1) -1

2000-01-31         NaN
2000-02-29   -0.169519
2000-03-31    1.531802
2000-04-30   -1.660804
Freq: M, dtype: float64

In [105]:
ts.shift(2, freq='M')

2000-03-31   -0.942651
2000-04-30   -0.782854
2000-05-31   -1.982031
2000-06-30    1.309733
Freq: M, dtype: float64

In [107]:
ts.shift(2,freq='D')

2000-02-02   -0.942651
2000-03-02   -0.782854
2000-04-02   -1.982031
2000-05-02    1.309733
dtype: float64

## 通过偏移量对日期进行位移

In [109]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011,11,7)

In [110]:
now + 3 *Day()

Timestamp('2011-11-10 00:00:00')

In [111]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [112]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [114]:
offset = MonthEnd()

In [115]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [117]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [118]:
ts = Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31    0.156180
2000-02-29   -0.015422
2000-03-31    0.045128
dtype: float64

In [119]:
ts.resample('M').mean()

2000-01-31    0.156180
2000-02-29   -0.015422
2000-03-31    0.045128
Freq: M, dtype: float64

## 时区处理

In [121]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [125]:
tz = pytz.timezone('US/Eastern')

tz

## 本地化和转换

In [129]:
rng = pd.date_range('3/9/2012 9:30', periods = 6, freq = 'D')

In [130]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [131]:
ts_utc = ts.tz_localize('UTC')

In [132]:
ts_utc

2012-03-09 09:30:00+00:00    0.512668
2012-03-10 09:30:00+00:00    2.262586
2012-03-11 09:30:00+00:00    0.038824
2012-03-12 09:30:00+00:00   -0.059039
2012-03-13 09:30:00+00:00   -0.125394
2012-03-14 09:30:00+00:00    0.014786
Freq: D, dtype: float64

In [133]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00    0.512668
2012-03-10 04:30:00-05:00    2.262586
2012-03-11 05:30:00-04:00    0.038824
2012-03-12 05:30:00-04:00   -0.059039
2012-03-13 05:30:00-04:00   -0.125394
2012-03-14 05:30:00-04:00    0.014786
Freq: D, dtype: float64

In [134]:
ts_eastern = ts.tz_localize('US/Eastern')

In [135]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.512668
2012-03-10 14:30:00+00:00    2.262586
2012-03-11 13:30:00+00:00    0.038824
2012-03-12 13:30:00+00:00   -0.059039
2012-03-13 13:30:00+00:00   -0.125394
2012-03-14 13:30:00+00:00    0.014786
Freq: D, dtype: float64

## 操作时区意识型Timestamp对象

In [136]:
stamp = pd.Timestamp('2011-3-12 4:00')

In [137]:
stamp

Timestamp('2011-03-12 04:00:00')

In [138]:
stamp_utc = stamp.tz_localize('utc')

In [139]:
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [140]:
stamp_moscow = pd.Timestamp('2011-3-12', tz='Europe/Moscow')

In [141]:
stamp_moscow

Timestamp('2011-03-12 00:00:00+0300', tz='Europe/Moscow')

## 不同时区之间的运算

In [142]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [143]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [144]:
ts

2012-03-07 09:30:00   -1.471201
2012-03-08 09:30:00   -0.570145
2012-03-09 09:30:00    0.868901
2012-03-12 09:30:00    0.392957
2012-03-13 09:30:00    0.596678
2012-03-14 09:30:00   -0.494923
2012-03-15 09:30:00    0.459730
2012-03-16 09:30:00   -0.299942
2012-03-19 09:30:00   -1.073793
2012-03-20 09:30:00   -0.459606
Freq: B, dtype: float64

In [145]:
ts1 = ts[:7].tz_localize('Europe/London')

In [147]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [148]:
result = ts1 + ts2

In [149]:
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    1.737801
2012-03-12 09:30:00+00:00    0.785914
2012-03-13 09:30:00+00:00    1.193357
2012-03-14 09:30:00+00:00   -0.989846
2012-03-15 09:30:00+00:00    0.919460
Freq: B, dtype: float64

## 时期及其算术运算

In [150]:
p = pd.Period(2007, freq='A-DEC')

In [151]:
p

Period('2007', 'A-DEC')

In [152]:
p+5

Period('2012', 'A-DEC')

In [153]:
pd.Period('2014', freq='A-DEC') - p

7L

In [159]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')

In [160]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [161]:
Series(np.random.randn(6), index=rng)

2000-01    0.645383
2000-02    0.684799
2000-03    0.289291
2000-04   -0.362493
2000-05    0.085274
2000-06   -0.629484
Freq: M, dtype: float64

In [162]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [163]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [164]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

## 时期和频率转换

In [157]:
p=pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [158]:
p.asfreq('M', 'end')

Period('2007-06', 'M')